*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a{
    text-decoration: none;
  }
}


::selection {
  background-color: #f6214b;
  color: #ffffff;          
}


main{
  margin-top: 100px;
}
